<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>管理员管理学生</title>
	<link rel="stylesheet" href="__ROOT__/public/css/manager_stulist.css" />
	<link rel="stylesheet" href="__ROOT__/public/css/page.css" />
</head>

<body class="all">
	<div class="A">
		<div class="link"><a href="{:U('/Home/Index/index')}">退出登录</a></div>
		<div class="link"><a href="{:U('/Home/Manager/index')}">返回</a></div>
	</div>
	<div class="B"></div>


	<table cellspacing="0" class="table">
		<tr>
			<td class="title">学号</td>
			<td class="title">姓名</td>
			<td class="title">专业/班级</td>
			<td class="title">性别</td>
			<td class="title" colspan="2">操作</td>
		</tr>

		<volist name="list" id="vo">
		<tr>
			<td class="td">{$vo.stuno}</td>
			<td class="td">{$vo.stuname}</td>
			<td class="td">{$vo.majorname}</td>
			<td class="td">{$vo.sex}</td>
			<form method="post" action="{:U('/Home/Manager/stuedit_do')}">
				<td class="td2">
					<input type="hidden" name="StuNo" value="{$vo.stuno}" class="button"/>
					<input type="submit" value="编辑" class="button"/>
				</td>
			</form>

            <td class="td2"><a href="{:U("/Home/Manager/deleteStudent/StuNo/$vo[stuno]")}" onclick="return confirm('确定删除?')">删除</a></td>
		</tr>
		</volist>
	</table>
	<td colspan="8" bgcolor="#FFFFFF">

        <div class="pages">{$page}</div>

    </td>
	

</body>
</html>